

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
    margin : 32px;
    background-color: #030140;
}
.navbar ul
{
    list-style-type: none;
    padding-left: 14px;
    padding-right: 14px;
    background-color:#1e1e1e;
    overflow: hidden; /*important pour que la colour du background apparait*/
    border-radius: 16px;

    gap:8px;
    display: inline-block; /*pour ma qu il s etende jusque a la fin de la page */


}
.navbar
{
    padding: 10px;
    gap: 10px;
    text-align: center; /*pour qu elle soit au centre de la page*/
}
.navbar a
{
    color:#8552F2;
    text-decoration: none;
    font-family: 'Fira Code' , monospace;
    font-weight: 400;

    display: block;
    text-align: center;
}
.navbar li
{
    float: left;
    padding: 10px;
    gap:10px;
}

.balzac
{
display: flex;
width: 624px;
height: 202px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
margin-left: 357px;
margin-right: 509px;
margin-top: 100px;
}

.balzacEcriture
{
  width: 565px;
flex-shrink: 0;  
color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
 font-family: 'Fira Code' , monospace;

}

.icone {
  
  display: block;
  width: 45px;
height: 40px;
flex-shrink: 0;
align-items: center;
margin-bottom: 5px;
}
.githubBtn {
  display: inline-flex;     /* inline-flex pour que le bouton garde sa forme */
  align-items: center;      /* aligne icône et texte verticalement */
  gap: 15px; 
  margin:10px ;                /* espace entre icône et texte */

background-color: #8552F2;  font-family: 'Fira Code', monospace;
  border-radius: 10px;
  padding: 10px 16px;       /* padding horizontal+vertical */
  color: white;
  border: none;             /* si tu ne veux pas de bordure par défaut */
  cursor: pointer;

width: 94px;
padding: 10px;
flex-direction: column;
align-items: flex-start;
align-items: center;


}
.contactways
{
    margin-left: 550px;
}